body {
  background: #D5E1EB;
  border-top: #286DA0 10px solid;
  font-family: "Lucida Grande",
               "Lucida Sans Unicode",
               "Lucida Sans",
               Verdana,
               Tahoma,
               sans-serif;
  font-size: 95%;
  line-height: 1.5;
  margin: 0;
  padding: 80px 15% 1em;
}

:link,
:visited {
  color: #123D70;
  text-decoration: underline;
}

:visited {
  color: #5D707C;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 110%;
}

h3 {
  font-size: 100%;
}

h1, h2, h3, h4, h5 {
  margin-top: 3em;
  margin-bottom: 2em;
}

h1, h1 *, h1 :link, h1 :visited,
h2, h2 *, h2 :link, h2 :visited,
h3, h3 *, h3 :link, h3 :visited,
h4, h4 *, h4 :link, h4 :visited,
h5, h5 *, h5 :link, h5 :visited,
th, th :link, th :visited {
  color: white;
  font-weight: normal;
  text-decoration: none;
  text-shadow: #0A344C 0.1em 0.1em 0.2em,
               #0A344C 0 0 0.5em;
}

h3:before {
  content: "- ";
}

h1#global-heading {
  background: url("header-icon.png") no-repeat left;
  font-size: 120%;
  font-style: italic;
  letter-spacing: -0.04em;
  line-height: 1;
  margin: 0 0 0 -40px;
  padding: 15px 0 15px 40px;
  position: absolute;
  top: 1.5em;
  left: 15%;
}

nav {
  font-size: 90%;
  left: 15%;
  position: absolute;
  top: 90px;
  right: 15%;
}

nav ul,
nav ul li {
  display: inline;
  list-style: none;
  marign: 0;
  padding: 0;
}

nav ul li {
  padding-right: 1em;
}

footer {
  border-top: 1px solid;
  font-size: 95%;
  margin: 2em -10% 0;
  padding: 1em 10% 0;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 0;
}

table {
  border: none;
  border-collapse: collapse;
}

td, th {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  padding: 0.5em;
}

table > thead:first-child > tr:first-child > *,
table > tr:first-child > * {
  border-top: none;
}

thead {
  border-bottom: 2px solid gray;
}

tr > *:first-child {
  border-left: none;
}

tr > *:last-child {
  border-right: none;
}


.functional-ok {
  color: #00BF2B;
  text-shadow: #5AFF79 0 0 0.2em;
}

.functional-ng {
  color: #FF4000;
  text-shadow: #FF9750 0 0 0.2em;
}

table .functional-ok,
table .functional-ng {
  font-size; 150%;
  text-align: center;
}


#fork-me {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: 0;
  top: 0;
}

#fork-me a {
  background: url("http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png") no-repeat;
  color: transparent;
  display: block;
  height: 149px;
  width: 149px;
}
