body {
  background: #D5E1EB;
  border-top: #286DA0 10px solid;
  font-family: "Lucida Grande",
               "Lucida Sans Unicode",
               "Lucida Sans",
               Verdana,
               Tahoma,
               sans-serif;
  margin: 0;
  padding: 1em 10%;
}

.functional-ok {
  color: #00BF2B;
  text-shadow: #5AFF79 0 0 0.2em;
}

.functional-ng {
  color: #FF4000;
  text-shadow: #FF9750 0 0 0.2em;
}
