<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link href="/stylesheets/screen/base.css" media="screen" rel="stylesheet" type="text/css" />
    {% if page.style %}
      <link href="/stylesheets/{{ page.style }}" media="screen" rel="stylesheet" type="text/css" />
    {% endif %}
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body{% if page.id %} id="page-{{ page.id }}"{% endif %}>
    <h1 id="global-heading"><a href="/">Groonga CloudSearch</a></h1>
    {{ content }}
    <nav>
      <ul>
        <li><a href="/#cover">About</a></li>
        <li><a href="/install/">Install</a></li>
        <li><a href="/tutorial.html">Tutorial</a></li>
        <li><a href="/faq/">FAQ</a></li>
      </ul>
    </nav>
    <footer>
      <p id="fork-me"><a href="http://github.com/groonga/gcs" title="Fork me on GitHub">Fork me on GitHub</a></p>
      <p>&copy;2012 Groonga CloudSearch Project.</p>
      <p>Groonga CloudSearch aka GCS is released under an OSS license (FIXME!).</p>
    </footer>
  </body>
</html>
